html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
   }
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-size: 16px;
    font-family:  'Roboto', sans-serif;
    
}/*1rem =10px*/

/**selectores mas generales**/
h1{
    color:#6CC7DF;
    font-size: 4.8rem;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
 }

.contenedorGeneral{
    display: flex;
    align-items: center;
}
.video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top:0;
    left:0;
    z-index: -1;
    filter: blur(25);
}

.contenedor{
    width: 100%;
    height: 45%;
    padding: 3rem 0;
    position: absolute;
    top:25%;
    left: 0;
    
}
.contenedorContenido{
    display: grid;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: #262A2D;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-animation: progress-bar 1.5s;
    -moz-animation: progress-bar 1.5s;
    animation: progress-bar 1.5s ;
}


 @keyframes progress-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes progress-bar {
    0% { width: 0; }
 }
